//  Color Variable //
$font-color:#777;
$h1-color: #58e1c1;
$link: #51ddfc;
$default: #51ddfc;
$error: #e4757a;
$info: #927bc1;
$success: #63cc82;
$warning: #fd7856;

//  Media Query //
$breakpoint: 768px;

// Layout //
$max-width: 1400px;

// Fonts //
$font-stack-primary: 'Lato', sans-serif;