//  Color Variable //
$font-color:#777;
$h1-color: #58e1c1;
$link: #51ddfc;

$default: #51ddfc;
$default-light: lighten($default, 15%);

$error: #e4757a;
$error-light: lighten($error, 15%);

$info: #927bc1;
$info-light: lighten($info, 15%);

$success: #63cc82;
$success-light: lighten($success, 15%);

$warning: #fd7856;
$warning-light: lighten($warning, 15%);


//  Media Query //
$breakpoint: 768px;

// Layout //
$max-width: 1400px;

// Fonts //
$font-stack-primary: 'Lato', sans-serif;