.btn {
    margin-top: 15px;
    width: 100%;
    color: #fff;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    @include desktop {
      padding: 10px 30px;
    }
  } 

  .btn + .btn {
    @include desktop {
      margin-left: 10px;
    }  
  }
  
  .default {
    background-color: $link;
  }
  
  .error {
    background-color: $error;
  }
  
  .info {
    background-color: $info;
  }
  
  .success {
    background-color: $success;
  }
  
  .warning {
    background-color: $warning;
  }