.btn {
    margin-top: 15px;
    width: 100%;
    color: #fff;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    @include desktop {
      padding: 10px 30px;
    }
} 

.btn + .btn {
  @include desktop {
    margin-left: 10px;
  }  
}

.default {
  background-color: $default;
  &:hover {
    background: $default-light;
    @include transition;
  }
}

.error {
  background-color: $error;
  &:hover {
    background: $error-light;
    @include transition;
  }
}

.info {
  background-color: $info;
  &:hover {
    background: $info-light;
    @include transition;
  }
}

.success {
  background-color: $success;
  &:hover {
    background: $success-light;
    @include transition;
  }
}

.warning {
  background-color: $warning;
  &:hover {
    background: $warning-light;
    @include transition;
  }
}